/* Homepage Style */
.product-recommendation-item {
    width: 200px;
}

.carousel-control-prev-icon.control-custom,
.carousel-control-next-icon.control-custom {
    width: 35px;
    height: 35px;
    background-size: 18px 18px;
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    font-size: 1.5rem;
    border-radius: 0.75rem;
}

.btn-primary {
    color: #fff;
    background-color: #50c8d9;
    border-color: #50c8d9;
}

.btn-primary:hover {
    color: #fff;
    background-color: #46adbb;
    border-color: #2ac3d7;
}
